@import url('https://fonts.googleapis.com/css?family=Lilita+One');


body {
  background-image: url(../images/light-veneer.png);
  font-family: 'Lilita One', cursive;
  margin: 0;
  padding: 0;
}

/* Global */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.clr {
	clear:both;
}
p {
  font-family: "Times New Roman", "Times", serif;
}

/* Header */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
header {
  text-align: center;
  min-width: 440px;
  border: dotted 1px;
}
#title {
/*  font-family: 'Lilita One', cursive;*/
  font-size: 62px;
  font-weight: 100;
  text-shadow: 1px 1px 1px black!important; 
	color: #a848c2;
  margin-bottom: -50px;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border: dotted 1px red;
}
nav {
	color: black;
  font-size: 24px;
}
nav ul {
  list-style: none;
  padding: 0px;
}
nav li {
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  display: inline-block;
  
}
.nav-item {
  color: black;
	text-decoration: none;
}
.nav-item:hover {
  color: purple;
}

/* Body */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.sidebar {
  border-right: 1px dotted #8f8c8a;
  padding: 30px;
  text-align: center;
  width: 20%;
  float: left;
  box-sizing: border-box;
  max-width: 250px;
  min-width: 180px;
}
.sidebar p {
  font-size: 13px;
}
.sidebar a {
  text-decoration: none;
  color: #000;
}
.sidebar a:hover {
  color: purple;
}
#purple {
  color: #a848c2;
}
.content {
  padding: 40px;
  padding-top: 20px;
  float: left;
/*  min-width: 600px;*/
  max-width: 800px;
  box-sizing: border-box;
}
.content li {
	padding: 10px;
  
}
iframe {
  height: 500px;
  width: 100%;
}

/* Footer */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
footer {
/*  position: relative;*/
  width: 100%;
  color: black;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
/*  margin: 0 auto;*/
/*  bottom: 0;*/
/*  width: 600px;*/
  height: 2rem;/* Footer height */
  font-size: 12px;
}

/* Media Queries */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media screen and (max-width: 768px) {
  header {
    margin: auto;
    max-width: 475px;
  }
  nav {
    width: 100%;
    font-size: 20px;
    border: dotted 1px black;
  }
  nav li {
    padding: 10px;
    padding-top: 30px;
  }
  
}

@media screen and (max-width: 1024px) {
  
  
}

@media screen and (max-width: 1280px) {
  .content {
    all: initial;
    width: 100%;
    padding: 20px;
/*    margin: auto;*/
/*    display: block;*/
  }
  
  .sidebar {
    all: initial;
    width: 100%;
    float: right;
    margin-top: 40px;
/*    align-self: center;*/
    
/*    min-width: 700px;*/
/*    border: dotted 1px black;*/
/*    box-sizing: border-box;*/
  }
  .info {
    padding-top: 10px;
    padding-bottom: 15px;
    display: inline;
    width: 25%;
    float: left;
    box-sizing: border-box;
/*    border: dotted 1px black;*/
    text-align: center;
    border-right: 1px dotted #8f8c8a;
    height: 100px;
  }
  .info:nth-child(4) {
    border-right: none;
  }
}






