@import url('https://fonts.googleapis.com/css?family=Lilita+One');

/**
 * App header styles
 * 
 */
.App-header {
/*  background-color: #282c34;*/
/*  background-image: url(images/fancy-cushion.png);*/
/*  background-image: url(images/spiration-dark.png);*/
/*  background-image: url(images/nami.png);*/
/*  background-image: url(images/soft_kill.png);*/
  background-image: url(images/light-veneer.png);
  white-space: nowrap;
/*  min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
/*  margin: auto;*/
/*  color: white;*/
	height:215px;
}
.App-header * {
	display: inline;
  
}
.App-nav {
/*	font-family: 'Cinzel', serif;*/
	font-family: 'Lilita One', cursive;
/*	font-weight: 300;*/
	color: black;
	display: inline;
	font-size: 27px;
  margin: auto;
}
.nav-item {
  color: black;
	text-decoration: none;
}

li {
	padding: 10px;
}

#title {
  font-family: 'Lilita One', cursive;
  text-shadow: 1px 1px 1px black!important; 
	font-size: 60px;
	font-weight: 100;
	color: #a848c2;
  margin-bottom: 30px;
/*	color: white;*/
}
html, body {
  height: 100%;
/*  background-image: url(images/fancy-cushion.png);*/
/*  background-image: url(images/spiration-dark.png);*/
/*  background-image: url(images/nami.png);*/
  background-image: url(images/light-veneer.png);
}

body {
    background-color: #282c34;
}

p {
  font-size: 13px;
}

#body {
  min-height: 100%;
  height: 100%;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
/*  color: #c4b4bc;*/
  color: black;
  font-size: 13px;
  
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  
}
@media (max-widthL 768px) {
  .sidebar {
    display: none;
  }
}
.sidebar {
  border-right: 1px dotted #8f8c8a;
  height: 100%;
  padding: 30px;
/*  width: 200px;*/
/*  padding-top: 30px;*/
/*  position: absolute;*/
}
.content {
  padding: 30px;
  white-space: nowrap;
}

#footer {
  position: absolute;
  background-color: #282c34;
/*  background-image: url(images/spiration-dark.png);*/
/*  background-image: url(images/nami.png);*/
  background-image: url(images/light-veneer.png);
  color: black;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  height: 2rem;/* Footer height */
  font-size: 12px;
}

a:active {
	color: #df41ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#purple {
  color: #a848c2;
}
